@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #683b9f;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
h3 {
  font-size: 30px;
  color: white;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius:4px ;
  cursor: pointer;
  border:none ;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color:white;
  background-color:transparent;
  cursor: pointer;
  border:1px solid white ;
  outline: none;
  transition: 0.2s;
}

body
 {
  width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(255, 254, 255, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li {
    list-style:none ;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: #780782;
    font-size: 16px;
    font-weight: 600;
    transition:0.3s; ;
}
#navbar li a:hover,
#navbar li a.active {
    color: #1b0424;
    
    
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
   width: 30%;
    height: 2px;
    background: #5f2e73;
    position: absolute;
    bottom: -4px;
    left: 20px;
} 
#close {
    display: none;
}
#mobile {
    display: none;
    align-items: center;
}

#hero
    {
        background-image: url(logo/model.jpg);
        height: 90vh;
        width: 100%;
        background-size:cover;
        background-position: top 25% right 0;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #hero h4 {
        padding-bottom: 15px;
    }
    #hero h1 {
      color: rgb(212, 0, 255);
  }
  #hero button {
    background-image: url(logo/button.png);
    background-color: transparent;
    padding: 14px 80px 14px 60px;
    color: #088178;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
  }
  #hero button:hover {
    background-color: #8a4ebb;
    border: inline-block;
    box-shadow: #4b1e5b;
    color: white;
  
  }
  #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #b58dc4;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
  }
  #feature .fe-box:hover {
   box-shadow: 10px 10px 54px rgb(117, 25, 131);
  }
  #feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4b1e5b;
  }
  #feature .fe-box:nth-child(2) h6 {
    background-color: #c379a1;
  }
  #feature .fe-box:nth-child(3) h6 {
    background-color: #884d6e;
    }
  #feature .fe-box:nth-child(4) h6 {
    background-color: #822859;
    }
  #feature .fe-box:nth-child(5) h6 {
    background-color: #531636;
  }
  #feature .fe-box:nth-child(6) h6 {
    background-color: #571338;
    }
    #product1{
      text-align: center;

    }
    #product1 .pro {
      width: 23%;
      min-width: 250px;
      padding: 10px 12px;
      border: 1px solid #b58dc4;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 20px 20px 30px rgba(186, 110, 193, 0.02);
      margin: 15px 0;
      transition:0.2s ease ;
      position: relative;
    }
    #product1 .pro:hover {
      box-shadow: 20px 20px 30px rgba(158, 98, 194, 0.06);
    }
    #product1 .pro img {
      width: 100%;
      border-radius: 20px;
    }
    #product1 .pro .des {
      padding: 10px 0;
      text-align: start;
    }
    #product1 .pro .des span {
      color: #606063;
      font-size: 12px;

    }
    #product1 .pro .des h5{
       padding-top: 7px;
       color: #1b0424;
       font-size: 14px;

    }
    #product1 .pro .des i{
      font-size: 12px;
      color: rgb(243, 181, 25);
    }
    #product1 .pro .des h4 {
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #a77cc3;
    }
    #product1 .pro-container {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      flex-wrap: wrap;
    }
    #product1 .pro .cart{
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #4bd7d3;
      position: absolute;
      bottom: 20px;
      right: 10px;

    }
    #product1 .pro .cart:hover {
      background-color: #7b41a8;
    }
    #banner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-image: url(logo/Banner/b2.jpg);
      width: 100%;
      height: 40vh;
      background-size: cover;
      background-position: center;
    }
    #banner h4 {
      color: #ffffff;
      font-size: 16px;
    }
    #banner h2 {
      color: #ffffff;
      font-size: 30px;
      padding: 10px 0;
    }
    #banner h2 span {
      color: #a81111;
      
    }
    #banner button:hover {
      background-color: #8a11a8;
      color: white;
      
    }
    #sm-banner{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    #sm-banner .banner-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-image: url(logo/Banner/b17.jpg);
      min-width: 580px;
      height: 50vh;
      background-size: cover;
      background-position: center;
      padding: 30px;
    }
    #sm-banner .banner-box2 {
      background-image: url(logo/Banner/b10.jpg);
      
    }
    #sm-banner h4 {
      color: #ffffff;
      font-size: 20px;
      font-weight: 300; 
    }
    #sm-banner h2 {
      color: #ffffff;
      font-size: 28px;
      font-weight: 800; 
    }
    #sm-banner span {
      color: #ffffff;
      font-size: 14px;
      font-weight: 500; 
      padding-bottom: 15px;
    }
    #sm-banner .banner-box:hover button {
      background-color: #7c3c9f;
      border: 1px salid  #8c4ea8 ;
    }
    #banner3 .banner-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-image: url(logo/Banner/b7.jpg);
      min-width: 30%;
      height: 30vh;
      background-size: cover;
      background-position: center;
      padding: 20px;
      margin-bottom: 20px;
    }
    #banner3 .banner-box2 {
      background-image: url(logo/Banner/b4.jpg);
    }
    #banner3 .banner-box3 {
      background-image: url(logo/Banner/b18.jpg);
    }
    #banner3{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 80px;
    }
    #banner3 h2 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 900;
    }
    #banner3 h2 {
      color: #ce1111;
      font-size: 15px;
      font-weight: 800;
    }
    #Neswletter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background-color: #9238a0;
      background-image: url(logo/Banner/b14.png);
      background-repeat: no-repeat;
      background-position: 20% 30%;
    }
    #Neswletter h4 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 700;
    }
    #Neswletter p {
      color: #9b9494;
      font-size: 14px;
      font-weight: 600;
    }
    #Neswletter p span{
      color: #e1a219;
      ;
    }
    #Neswletter input {
      height: 3.125rem;
      width: 100%;
      padding: 0 1.25rem;
      font-size: 14px;
      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    #Neswletter button {
      padding: 15px 30px;
      background-color: #4b1e5b;
      color: #ffffff;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    #Neswletter .form {
      display: flex;
      width: 40%;
    
    }
    footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    footer .col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      }
    footer .logo {
      margin-bottom: 30px;
    }
    footer h4 {
     font-size: 14px;
     padding: bottom 20px; 
    }
    footer p {
      font-size: 13px;
      margin: 0 0 8px 0; 
     }
     footer a{
      font-size: 13px;
      text-decoration: none;
      color: #ab7ab7;
      margin: 0 0 8px 0; 
      margin-bottom: 10px;
     }
     footer .follow {
      margin-top: 20px;
     }
     footer .follow  i{
      color: rgb(137, 93, 177);
      padding-right:  4px;
      cursor: pointer;
     }
     footer .Install .row img{
        border: 2px solid #b58dc4;
        border-radius: 6px;
      }
      footer .Install img {
        margin-bottom: 10px 0 15px 0;
      }
      footer .follow i:hover,
      footer a:hover {
        color: #4b1e5b;
      }
      footer .copyright {
        text-align: center;
        width: 100%;
      }
      #page-header{
        background-image: url(logo/Banner/b1.jpg);
        width: 100%;
        height: 40vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction:column ;
        padding: 14px;
      }
      #page-header.blog-header {
        background-image: url(logo/Banner/b19.jpg);
      }
      #blog {
        padding: 150px 150px 0 150px;

      }
      #blog.blog-box {
        display: flex;
        width: 100%;
      }
      #blog.blog-img {
        width: 100%;
        height: 300px;
       object-fit: cover;
      }
      #blog img {
        width: 100%;
        height: 300%;
      }
      #page-header h2,
      page-header p   {
        color: #ffffff;
        font-size: 30px;
        font-weight: 800;
      }
      #pagination {
        text-align: center;
      }
      #pagination a {
      text-decoration: none;
      background-color: #4b1e5b;
      padding: 15px 20px;
      border: 4px;
      color: #ffffff;
      font-weight: 600;
      }
      #pagination a i {
        font-size: 16px;
        font-weight: 600;
      }
      
      #productdetails{
        margin-top: 20px;
        
      }
      #productdetails .single-pro-img {
        width: 40%;
        margin: 50px;
      }

      #productdetails .single-pro-details {
        width: 50%;
        padding-top: 30px;

      }
      #productdetails .single-pro-details h4 {
        padding: 40px 0 20px 0;
      }
      #productdetails .single-pro-details h2 {
       font-size: 26px;
         }
     #productdetails .single-pro-details select {
          display: block;
          padding: 5px 10px;
          margin-bottom: 10px;
     }
     #productdetails .single-pro-details input{
      width: 50px;
      height: 47px;
      padding-left: 10px;
      font-size: 16px;
      margin-right: 10px;
    }
    #productdetails .single-pro-details input:focus {
      outline: none;
    }
    #productdetails .single-pro-details button {
     background-color: #4b1e5b; 
     color: #ffffff;
    }
    
    #productdetails .single-pro-details span{
      line-height: 25px;
    }


  .small-img-group {
        display: flex;
        justify-content: space-between;
        
      }
   .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
      }

:root{
   --blue:#3498db;
   --red:#e74c3c;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-bg:#eee;
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
   --border:2px solid var(--black);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::-webkit-scrollbar{
   width: 10px;
   height: 5px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

body{
   background-color: var(--light-bg);
}

.message{
   position: sticky;
   top:0; left:0; right:0;
   padding:15px 10px;
   background-color: var(--white);
   text-align: center;
   z-index: 1000;
   box-shadow: var(--box-shadow);
   color:var(--black);
   font-size: 20px;
   text-transform: capitalize;
   cursor: pointer;
}

.btn,
.delete-btn,
.option-btn{
   display: inline-block;
   padding:10px 30px;
   cursor: pointer;
   font-size: 18px;
   color:var(--white);
   border-radius: 5px;
   text-transform: capitalize;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.btn{
   background-color: var(--blue);
   margin-top: 10px;
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: var(--orange);
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 70px;
}

.form-container form{
   width: 500px;
   border-radius: 5px;
   border:var(--border);
   padding:20px;
   text-align: center;
   background-color: var(--white);
}

.form-container form h3{
   font-size: 30px;
   margin-bottom: 10px;
   text-transform: uppercase;
   color:var(--black);
}

.form-container form .box{
   width: 100%;
   border-radius: 5px;
   border:var(--border);
   padding:12px 14px;
   font-size: 18px;
   margin:10px 0;
}

.form-container form p{
   margin-top: 20px;
   font-size: 20px;
   color:var(--black);
}

.form-container form p a{
   color:var(--red);
}

.form-container form p a:hover{
   text-decoration: underline;
}

.container{
   padding:0 20px;
   margin:0 auto;
   max-width: 1200px;
   padding-bottom: 70px;
}

.container .heading{
   text-align: center;
   margin-bottom: 20px;
   font-size: 40px;
   text-transform: uppercase;
   color:var(--black);
}

.container .user-profile{
   padding:20px;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 5px;
   margin:20px auto;
   max-width: 500px;
}

.container .user-profile p{
   margin-bottom: 10px;
   font-size: 25px;
   color:var(--black);
}

.container .user-profile p span{
   color:var(--red);
}

.container .user-profile .flex{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap:10px;
   align-items: flex-end;
}

.container .products .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:15px;
   justify-content: center;
}

.container .products .box-container .box{
   text-align: center;
   border-radius: 5px;
   box-shadow: var(--box-shadow);
   border:var(--border);
   position: relative;
   padding:20px;
   background-color: var(--white);
   width: 350px;
}

.container .products .box-container .box img{
   height: 250px;
}

.container .products .box-container .box .name{
   font-size: 20px;
   color:var(--black);
   padding:5px 0;
}

.container .products .box-container .box .price{
   position: absolute;
   top:10px; left:10px;
   padding:5px 10px;
   border-radius: 5px;
   background-color: var(--orange);
   color:var(--white);
   font-size: 25px;
}

.container .products .box-container .box input[type="number"]{
   margin:10px 0;
   width: 100%;
   border:var(--border);
   border-radius: 5px;
   font-size: 20px;
   color:var(--black);
   padding:12px 14px
}

.container .shopping-cart{
   padding:20px 0;
}

.container .shopping-cart table{
   width: 100%;
   text-align: center;
   border:var(--border);
   border-radius: 5px;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.container .shopping-cart table thead{
   background-color: var(--black);
}

.container .shopping-cart table thead th{
   padding:10px;
   color:var(--white);
   text-transform: capitalize;
   font-size: 20px;
}

.container .shopping-cart table .table-bottom{
   background-color: var(--light-bg);
}

.container .shopping-cart table tr td{
   padding:10px;
   font-size: 20px;
   color:var(--black);
}

.container .shopping-cart table tr td:nth-child(1){
   padding:0;
}

.container .shopping-cart table tr td input[type="number"]{
   width: 80px;
   border:var(--border);
   padding:12px 14px;
   font-size: 20px;
   color:var(--black);
}

.container .shopping-cart .cart-btn{
   margin-top: 10px;
   text-align: center;
}

.container .shopping-cart .disabled{
   pointer-events: none;
   background-color: var(--red);
   opacity: .5;
   user-select: none;
}
    

      @media (max-width: 799px) {
        .section-p1 {
          padding: 40px 40px;
        }
        #navbar {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          top: 0;
          right: -300px;
          height: 100vh;
          width: 300px;
          background-color: #E3E6F3;
          box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
          padding: 80px 0 0 10px;
          transition: 0.3s;
        }
        #navbar.active {
          right: 0px;
        }
        #navbar li {
          margin-bottom: 20px ;
        }
        #mobile {
          display: flex;
          align-items: center;
         }
        #mobile i {
        font-size: 24px;
        color: #95399d;
        cursor: pointer;
        padding-left: 20px;
        justify-content: space-between;
        }
        #close {
          display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #4d1053;

        }
        #lg-bag {
          display: none;
        }
        #hero{
        height: 70vh;
        width: 100%;
        background-size:cover;
        background-position: top 30% right 30%;
        padding: 0 80px;
        
      }
    #feature{
      justify-content: center;
      }
    #feature .fe-box{
        margin: 15px 15px;
        cursor: pointer;
      }
      #product1 .pro-container {
        justify-content: center;
        }
    #product1 .pro {
      margin: 15px 0;
    }
    #banner{
      height: 20vh;
    }
    #sm-banner .banner-box{
      min-width: 100%;
      height: 30vh;
      }
    #banner3{
      padding: 40px;
    }
    #banner3 .banner-box {
      width: 28%;
    }
    #Neswletter .form {
    width: 70%;
    }
  }
    
@media (max-width: 477px) {
    .section-p1 {
    padding: 20px;
  }
    #header {
        padding: 10px 30px;
        
      }
    #hero{
        background-position: 55%;
        padding: 0 20px;
        }
    h1 {
        font-size: 38px;
      }
      
      h2 {
        font-size: 32px;
      }
      #feature {
        justify-content: space-between;
      }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
      }
   #product1 .pro {
        width: 100%;
      }
      #banner{
        height: 40vh;
      }
      #sm-banner .banner-box{
        height: 40vh;
        }
      #sm-banner .banner-box2{
       margin-top: 20px;
        }
      #banner3{
        padding: 0 20px;
      }
      #banner3 .banner-box {
        width: 100%;
      }
      #Neswletter .form {
        width: 100%;
      }
      #Neswletter{
        padding: 40px 20px;

      }
      #footer .copyright{
       text-align: start;
      }
      #productdetails {
        display: flex;
        flex-direction: column;
      }
      #productdetails .single-pro-img {
        width: 100%;
        padding-top: 0px;

      }
      #productdetails .single-pro-details {
        width: 100%;
       

      }
    }
    .card-img-top {
      width: 100%;
      height: 200px;
      object-fit: contain;
    }
   /* .admin_img {
      width: 100px;
      object-fit: contain;
    }*/
    